# ML Component 1 - Predicting Quantity

### Cleaning Data

In [24]:
import pandas as pd

In [2]:
# Try different encodings
try:
    df = pd.read_csv('DataCoSupplyChainDataset.csv', encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv('DataCoSupplyChainDataset.csv', encoding='latin-1')  # or other encodings

In [3]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [4]:
#rename column 
df = df.rename(columns={"Customer City": "Department city","Customer Country": "Department country","Customer State": "Department state"})

In [5]:
import pandas as pd


# Replace column names if they are different in your actual DataFrame
columns = ['Department city', 'Department state', 'Department country', 'Department Id']

# Create a new DataFrame with only the relevant columns
df_regions = df[columns]

# Drop duplicate rows to get unique combinations of department details
unique_regions = df_regions.drop_duplicates()

# Count the number of unique regions
num_regions = unique_regions.shape[0]

print(f"The number of regions is: {num_regions}")

The number of regions is: 4696

In [8]:
# print orderID count before dropping 
order_id_counts = df['Order Id'].value_counts()
print(order_id_counts)

Order Id
48880    5
18097    5
50037    5
27861    5
23412    5
        ..
42011    1
42068    1
42072    1
42118    1
26118    1
Name: count, Length: 65752, dtype: int64

In [9]:
#remove duplicated in order ID
df = df.drop_duplicates(subset='Order Id', keep='first')
order_id_counts_new = df['Order Id'].value_counts()
print(order_id_counts_new)

Order Id
77202    1
74740    1
56389    1
5030     1
9792     1
        ..
26252    1
24445    1
27351    1
74093    1
26118    1
Name: count, Length: 65752, dtype: int64

In [6]:
unique_regions

       Department city Department state Department country  Department Id
0               Caguas               PR        Puerto Rico              2
2             San Jose               CA            EE. UU.              2
3          Los Angeles               CA            EE. UU.              2
5            Tonawanda               NY            EE. UU.              2
7                Miami               FL            EE. UU.              2
...                ...              ...                ...            ...
171695     Watsonville               CA            EE. UU.              2
172372        San Juan               PR        Puerto Rico              8
174128         Guayama               PR        Puerto Rico              9
175296         Humacao               PR        Puerto Rico              8
176772        Toa Alta               PR        Puerto Rico             12

[4696 rows x 4 columns]

In [10]:
# Check for null values and remove
# import pandas as pd

# Check for null values
print(df.isnull().sum())

# Remove rows with null values in any column
# df = df.dropna()

Type                                 0
Days for shipping (real)             0
Days for shipment (scheduled)        0
Benefit per order                    0
Sales per customer                   0
Delivery Status                      0
Late_delivery_risk                   0
Category Id                          0
Category Name                        0
Department city                      0
Department country                   0
Customer Email                       0
Customer Fname                       0
Customer Id                          0
Customer Lname                       8
Customer Password                    0
Customer Segment                     0
Department state                     0
Customer Street                      0
Customer Zipcode                     3
Department Id                        0
Department Name                      0
Latitude                             0
Longitude                            0
Market                               0
Order City                           0
Order Country                        0
Order Customer Id                    0
order date (DateOrders)              0
Order Id                             0
Order Item Cardprod Id               0
Order Item Discount                  0
Order Item Discount Rate             0
Order Item Id                        0
Order Item Product Price             0
Order Item Profit Ratio              0
Order Item Quantity                  0
Sales                                0
Order Item Total                     0
Order Profit Per Order               0
Order Region                         0
Order State                          0
Order Status                         0
Order Zipcode                    57482
Product Card Id                      0
Product Category Id                  0
Product Description              65752
Product Image                        0
Product Name                         0
Product Price                        0
Product Status                       0
shipping date (DateOrders)           0
Shipping Mode                        0
dtype: int64

In [12]:
# import pandas as pd

# Drop rows with null values in a specific column 
df = df.dropna(subset=['Customer Zipcode'])

In [13]:
# Check for null values
print(df.isnull().sum())

Type                                 0
Days for shipping (real)             0
Days for shipment (scheduled)        0
Benefit per order                    0
Sales per customer                   0
Delivery Status                      0
Late_delivery_risk                   0
Category Id                          0
Category Name                        0
Department city                      0
Department country                   0
Customer Email                       0
Customer Fname                       0
Customer Id                          0
Customer Lname                       8
Customer Password                    0
Customer Segment                     0
Department state                     0
Customer Street                      0
Customer Zipcode                     0
Department Id                        0
Department Name                      0
Latitude                             0
Longitude                            0
Market                               0
Order City                           0
Order Country                        0
Order Customer Id                    0
order date (DateOrders)              0
Order Id                             0
Order Item Cardprod Id               0
Order Item Discount                  0
Order Item Discount Rate             0
Order Item Id                        0
Order Item Product Price             0
Order Item Profit Ratio              0
Order Item Quantity                  0
Sales                                0
Order Item Total                     0
Order Profit Per Order               0
Order Region                         0
Order State                          0
Order Status                         0
Order Zipcode                    57479
Product Card Id                      0
Product Category Id                  0
Product Description              65749
Product Image                        0
Product Name                         0
Product Price                        0
Product Status                       0
shipping date (DateOrders)           0
Shipping Mode                        0
dtype: int64

In [19]:
# import pandas as pd

# Assuming df is your DataFrame
df['Order Item Quantity'] = df['Order Item Quantity'] * 100

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65749 entries, 0 to 180487
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           65749 non-null  object
 1   Days for shipping (real)       65749 non-null  int64
 2   Days for shipment (scheduled)  65749 non-null  int64
 3   Benefit per order              65749 non-null  float64
 4   Sales per customer             65749 non-null  float64
 5   Delivery Status                65749 non-null  object
 6   Late_delivery_risk             65749 non-null  int64
 7   Category Id                    65749 non-null  int64
 8   Category Name                  65749 non-null  object
 9   Department city                65749 non-null  object
 10  Department country             65749 non-null  object
 11  Customer Email                 65749 non-null  object
 12  Customer Fname                 65749 non-null  object
 13  Customer Id                    65749 non-null  int64
 14  Customer Lname                 65741 non-null  object
 15  Customer Password              65749 non-null  object
 16  Customer Segment               65749 non-null  object
 17  Department state               65749 non-null  object
 18  Customer Street                65749 non-null  object
 19  Customer Zipcode               65749 non-null  float64
 20  Department Id                  65749 non-null  int64
 21  Department Name                65749 non-null  object
 22  Latitude                       65749 non-null  float64
 23  Longitude                      65749 non-null  float64
 24  Market                         65749 non-null  object
 25  Order City                     65749 non-null  object
 26  Order Country                  65749 non-null  object
 27  Order Customer Id              65749 non-null  int64
 28  order date (DateOrders)        65749 non-null  object
 29  Order Id                       65749 non-null  int64
 30  Order Item Cardprod Id         65749 non-null  int64
 31  Order Item Discount            65749 non-null  float64
 32  Order Item Discount Rate       65749 non-null  float64
 33  Order Item Id                  65749 non-null  int64
 34  Order Item Product Price       65749 non-null  float64
 35  Order Item Profit Ratio        65749 non-null  float64
 36  Order Item Quantity            65749 non-null  int64
 37  Sales                          65749 non-null  float64
 38  Order Item Total               65749 non-null  float64
 39  Order Profit Per Order         65749 non-null  float64
 40  Order Region                   65749 non-null  object
 41  Order State                    65749 non-null  object
 42  Order Status                   65749 non-null  object
 43  Order Zipcode                  8270 non-null   float64
 44  Product Card Id                65749 non-null  int64
 45  Product Category Id            65749 non-null  int64
 46  Product Description            0 non-null      float64
 47  Product Image                  65749 non-null  object
 48  Product Name                   65749 non-null  object
 49  Product Price                  65749 non-null  float64
 50  Product Status                 65749 non-null  int64
 51  shipping date (DateOrders)     65749 non-null  object
 52  Shipping Mode                  65749 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 27.1+ MB

In [43]:
# import pandas as pd

# Assuming df is your DataFrame and 'Order Item Quantity' is the name of your column
first_100_values = df['Order Item Quantity'].head(100)
print(first_100_values)

0      100
1      100
2      100
3      100
4      100
      ...
99     500
100    500
101    500
102    500
103    500
Name: Order Item Quantity, Length: 100, dtype: int64

In [45]:
# Group by Department Id and get the unique combinations of region details for each department
department_regions = df_regions.groupby('Department Id').agg({
    'Department city': pd.Series.nunique,
    'Department state': pd.Series.nunique,
    'Department country': pd.Series.nunique
})

# Rename the columns for clarity
department_regions.columns = ['Num Cities', 'Num States', 'Num Countries']

# Reset the index to make 'Department Id' a regular column
department_regions.reset_index(inplace=True)

# Display the result
print(department_regions)

    Department Id  Num Cities  Num States  Num Countries
0               2         419          40              2
1               3         558          44              2
2               4         563          45              2
3               5         561          44              2
4               6         559          44              2
5               7         562          44              2
6               8         179          36              2
7               9         407          43              2
8              10         390          43              2
9              11         136          32              2
10             12         154          32              2

In [46]:
# Check for duplicates in the specified column
duplicates = df[df.duplicated(subset='Order Id')]

# Drop duplicates from the specified column
df = df.drop_duplicates(subset='Order Id', keep='first')

# Display the updated DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65749 entries, 0 to 180487
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           65749 non-null  object
 1   Days for shipping (real)       65749 non-null  int64
 2   Days for shipment (scheduled)  65749 non-null  int64
 3   Benefit per order              65749 non-null  float64
 4   Sales per customer             65749 non-null  float64
 5   Delivery Status                65749 non-null  object
 6   Late_delivery_risk             65749 non-null  int64
 7   Category Id                    65749 non-null  int64
 8   Category Name                  65749 non-null  object
 9   Department city                65749 non-null  object
 10  Department country             65749 non-null  object
 11  Customer Email                 65749 non-null  object
 12  Customer Fname                 65749 non-null  object
 13  Customer Id                    65749 non-null  int64
 14  Customer Lname                 65741 non-null  object
 15  Customer Password              65749 non-null  object
 16  Customer Segment               65749 non-null  object
 17  Department state               65749 non-null  object
 18  Customer Street                65749 non-null  object
 19  Customer Zipcode               65749 non-null  float64
 20  Department Id                  65749 non-null  int64
 21  Department Name                65749 non-null  object
 22  Latitude                       65749 non-null  float64
 23  Longitude                      65749 non-null  float64
 24  Market                         65749 non-null  object
 25  Order City                     65749 non-null  object
 26  Order Country                  65749 non-null  object
 27  Order Customer Id              65749 non-null  int64
 28  order date (DateOrders)        65749 non-null  object
 29  Order Id                       65749 non-null  int64
 30  Order Item Cardprod Id         65749 non-null  int64
 31  Order Item Discount            65749 non-null  float64
 32  Order Item Discount Rate       65749 non-null  float64
 33  Order Item Id                  65749 non-null  int64
 34  Order Item Product Price       65749 non-null  float64
 35  Order Item Profit Ratio        65749 non-null  float64
 36  Order Item Quantity            65749 non-null  int64
 37  Sales                          65749 non-null  float64
 38  Order Item Total               65749 non-null  float64
 39  Order Profit Per Order         65749 non-null  float64
 40  Order Region                   65749 non-null  object
 41  Order State                    65749 non-null  object
 42  Order Status                   65749 non-null  object
 43  Order Zipcode                  8270 non-null   float64
 44  Product Card Id                65749 non-null  int64
 45  Product Category Id            65749 non-null  int64
 46  Product Description            0 non-null      float64
 47  Product Image                  65749 non-null  object
 48  Product Name                   65749 non-null  object
 49  Product Price                  65749 non-null  float64
 50  Product Status                 65749 non-null  int64
 51  shipping date (DateOrders)     65749 non-null  object
 52  Shipping Mode                  65749 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 27.1+ MB

In [47]:
df['Order Item Quantity'].value_counts()

Order Item Quantity
100    45655
200     5533
500     5103
300     4739
400     4719
Name: count, dtype: int64

In [48]:
len(df['Department Id'].value_counts())

11

In [49]:
df['Department Name'].value_counts()

Department Name
Apparel               21499
Fan Shop              20496
Golf                   8400
Footwear               4945
Outdoors               4134
Discs Shop             2025
Fitness                1527
Technology             1464
Pet Shop                492
Book Shop               405
Health and Beauty       362
Name: count, dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65749 entries, 0 to 180487
Data columns (total 53 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Type                           65749 non-null  object
 1   Days for shipping (real)       65749 non-null  int64
 2   Days for shipment (scheduled)  65749 non-null  int64
 3   Benefit per order              65749 non-null  float64
 4   Sales per customer             65749 non-null  float64
 5   Delivery Status                65749 non-null  object
 6   Late_delivery_risk             65749 non-null  int64
 7   Category Id                    65749 non-null  int64
 8   Category Name                  65749 non-null  object
 9   Department city                65749 non-null  object
 10  Department country             65749 non-null  object
 11  Customer Email                 65749 non-null  object
 12  Customer Fname                 65749 non-null  object
 13  Customer Id                    65749 non-null  int64
 14  Customer Lname                 65741 non-null  object
 15  Customer Password              65749 non-null  object
 16  Customer Segment               65749 non-null  object
 17  Department state               65749 non-null  object
 18  Customer Street                65749 non-null  object
 19  Customer Zipcode               65749 non-null  float64
 20  Department Id                  65749 non-null  int64
 21  Department Name                65749 non-null  object
 22  Latitude                       65749 non-null  float64
 23  Longitude                      65749 non-null  float64
 24  Market                         65749 non-null  object
 25  Order City                     65749 non-null  object
 26  Order Country                  65749 non-null  object
 27  Order Customer Id              65749 non-null  int64
 28  order date (DateOrders)        65749 non-null  object
 29  Order Id                       65749 non-null  int64
 30  Order Item Cardprod Id         65749 non-null  int64
 31  Order Item Discount            65749 non-null  float64
 32  Order Item Discount Rate       65749 non-null  float64
 33  Order Item Id                  65749 non-null  int64
 34  Order Item Product Price       65749 non-null  float64
 35  Order Item Profit Ratio        65749 non-null  float64
 36  Order Item Quantity            65749 non-null  int64
 37  Sales                          65749 non-null  float64
 38  Order Item Total               65749 non-null  float64
 39  Order Profit Per Order         65749 non-null  float64
 40  Order Region                   65749 non-null  object
 41  Order State                    65749 non-null  object
 42  Order Status                   65749 non-null  object
 43  Order Zipcode                  8270 non-null   float64
 44  Product Card Id                65749 non-null  int64
 45  Product Category Id            65749 non-null  int64
 46  Product Description            0 non-null      float64
 47  Product Image                  65749 non-null  object
 48  Product Name                   65749 non-null  object
 49  Product Price                  65749 non-null  float64
 50  Product Status                 65749 non-null  int64
 51  shipping date (DateOrders)     65749 non-null  object
 52  Shipping Mode                  65749 non-null  object
dtypes: float64(15), int64(14), object(24)
memory usage: 27.1+ MB

In [51]:
import pandas as pd

# Assuming df is your DataFrame
# Set the option to display all columns
pd.set_option('display.max_columns', None)

# Now, when you print the head of the DataFrame, it will display all columns
print(df.head(2))

       Type  Days for shipping (real)  Days for shipment (scheduled)  \
0     DEBIT                         3                              4
1  TRANSFER                         5                              4

   Benefit per order  Sales per customer   Delivery Status  \
0          91.250000          314.640015  Advance shipping
1        -249.089996          311.359985     Late delivery

   Late_delivery_risk  Category Id   Category Name Department city  \
0                   0           73  Sporting Goods          Caguas
1                   1           73  Sporting Goods          Caguas

  Department country Customer Email Customer Fname  Customer Id  \
0        Puerto Rico      XXXXXXXXX          Cally        20755
1        Puerto Rico      XXXXXXXXX          Irene        19492

  Customer Lname Customer Password Customer Segment Department state  \
0       Holloway         XXXXXXXXX         Consumer               PR
1           Luna         XXXXXXXXX         Consumer               PR

            Customer Street  Customer Zipcode  Department Id Department Name  \
0  5365 Noble Nectar Island             725.0              2         Fitness
1          2679 Rustic Loop             725.0              2         Fitness

    Latitude  Longitude        Market Order City Order Country  \
0  18.251453 -66.037056  Pacific Asia     Bekasi     Indonesia
1  18.279451 -66.037064  Pacific Asia    Bikaner         India

   Order Customer Id order date (DateOrders)  Order Id  \
0              20755         1/31/2018 22:56     77202
1              19492         1/13/2018 12:27     75939

   Order Item Cardprod Id  Order Item Discount  Order Item Discount Rate  \
0                    1360            13.110000                      0.04
1                    1360            16.389999                      0.05

   Order Item Id  Order Item Product Price  Order Item Profit Ratio  \
0         180517                    327.75                     0.29
1         179254                    327.75                    -0.80

   Order Item Quantity   Sales  Order Item Total  Order Profit Per Order  \
0                  100  327.75        314.640015               91.250000
1                  100  327.75        311.359985             -249.089996

     Order Region      Order State Order Status  Order Zipcode  \
0  Southeast Asia  Java Occidental     COMPLETE            NaN
1      South Asia         Rajastán      PENDING            NaN

   Product Card Id  Product Category Id  Product Description  \
0             1360                   73                  NaN
1             1360                   73                  NaN

                                  Product Image  Product Name  Product Price  \
0  http://images.acmesports.sports/Smart+watch   Smart watch          327.75
1  http://images.acmesports.sports/Smart+watch   Smart watch          327.75

   Product Status shipping date (DateOrders)   Shipping Mode
0               0             2/3/2018 22:56  Standard Class
1               0            1/18/2018 12:27  Standard Class

Save the Cleaned DataSet

In [60]:
# import pandas as pd

df.to_csv('cleaned_dataset.csv')

Load Cleaned Dataset

In [25]:
# Load the dataset from a CSV file
df = pd.read_csv('cleaned_dataset.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Unnamed: 0      Type  Days for shipping (real)  \
0           0     DEBIT                         3
1           1  TRANSFER                         5
2           2      CASH                         4
3           3     DEBIT                         3
4           4   PAYMENT                         2

   Days for shipment (scheduled)  Benefit per order  Sales per customer  \
0                              4          91.250000          314.640015
1                              4        -249.089996          311.359985
2                              4        -247.779999          309.720001
3                              4          22.860001          304.809998
4                              4         134.210007          298.250000

    Delivery Status  Late_delivery_risk  Category Id   Category Name  ...  \
0  Advance shipping                   0           73  Sporting Goods  ...
1     Late delivery                   1           73  Sporting Goods  ...
2  Shipping on time                   0           73  Sporting Goods  ...
3  Advance shipping                   0           73  Sporting Goods  ...
4  Advance shipping                   0           73  Sporting Goods  ...

  Order Zipcode Product Card Id Product Category Id Product Description  \
0           NaN            1360                  73                 NaN
1           NaN            1360                  73                 NaN
2           NaN            1360                  73                 NaN
3           NaN            1360                  73                 NaN
4           NaN            1360                  73                 NaN

                                  Product Image  Product Name Product Price  \
0  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
1  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
2  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
3  http://images.acmesports.sports/Smart+watch   Smart watch         327.75
4  http://images.acmesports.sports/Smart+watch   Smart watch         327.75

  Product Status shipping date (DateOrders)   Shipping Mode
0              0             2/3/2018 22:56  Standard Class
1              0            1/18/2018 12:27  Standard Class
2              0            1/17/2018 12:06  Standard Class
3              0            1/16/2018 11:45  Standard Class
4              0            1/15/2018 11:24  Standard Class

[5 rows x 54 columns]

Save the Final Cleaned Dataset

In [26]:
columns_to_keep = ['Customer Id', 'Order Customer Id', 'Order Id', 'Order Item Cardprod Id', 'Product Card Id',
                   'Product Price', 'Category Name', 'Department city', 'Department country', 'Customer Segment',
                   'Department state', 'Customer Street', 'Order City', 'Order Country', 'Order Region', 'Order State',
                   'order date (DateOrders)', 'Product Name', 'Order Item Quantity', 'Customer Zipcode']

# Create a new DataFrame with only the specified columns
cleaned_df = df[columns_to_keep]

# Save the cleaned DataFrame to a CSV file
cleaned_csv_filename = 'cleaned_data_final.csv'
cleaned_df.to_csv(cleaned_csv_filename, index=False)

print(f'Cleaned DataFrame saved to {cleaned_csv_filename}')

Cleaned DataFrame saved to cleaned_data_final.csv

Load the Final Cleaned Dataset

In [28]:
# Load the dataset from a CSV file
df = pd.read_csv('cleaned_data_final.csv')

# Display the first few rows of the DataFrame
print(df.head())

   Customer Id  Order Customer Id  Order Id  Order Item Cardprod Id  \
0        20755              20755     77202                    1360
1        19492              19492     75939                    1360
2        19491              19491     75938                    1360
3        19490              19490     75937                    1360
4        19489              19489     75936                    1360

   Product Card Id  Product Price   Category Name Department city  \
0             1360         327.75  Sporting Goods          Caguas
1             1360         327.75  Sporting Goods          Caguas
2             1360         327.75  Sporting Goods        San Jose
3             1360         327.75  Sporting Goods     Los Angeles
4             1360         327.75  Sporting Goods          Caguas

  Department country Customer Segment Department state  \
0        Puerto Rico         Consumer               PR
1        Puerto Rico         Consumer               PR
2            EE. UU.         Consumer               CA
3            EE. UU.      Home Office               CA
4        Puerto Rico        Corporate               PR

            Customer Street  Order City Order Country    Order Region  \
0  5365 Noble Nectar Island      Bekasi     Indonesia  Southeast Asia
1          2679 Rustic Loop     Bikaner         India      South Asia
2      8510 Round Bear Gate     Bikaner         India      South Asia
3           3200 Amber Bend  Townsville     Australia         Oceania
4  8671 Iron Anchor Corners  Townsville     Australia         Oceania

       Order State order date (DateOrders)  Product Name  Order Item Quantity  \
0  Java Occidental         1/31/2018 22:56  Smart watch                   100
1         Rajastán         1/13/2018 12:27  Smart watch                   100
2         Rajastán         1/13/2018 12:06  Smart watch                   100
3       Queensland         1/13/2018 11:45  Smart watch                   100
4       Queensland         1/13/2018 11:24  Smart watch                   100

   Customer Zipcode
0             725.0
1             725.0
2           95125.0
3           90027.0
4             725.0

Sales = Order Item QTY * Product Price

In [29]:
print(df.dtypes)

Customer Id                  int64
Order Customer Id            int64
Order Id                     int64
Order Item Cardprod Id       int64
Product Card Id              int64
Product Price              float64
Category Name               object
Department city             object
Department country          object
Customer Segment            object
Department state            object
Customer Street             object
Order City                  object
Order Country               object
Order Region                object
Order State                 object
order date (DateOrders)     object
Product Name                object
Order Item Quantity          int64
Customer Zipcode           float64
dtype: object